<h1>Datenschutzerklärung</h1>
<h2 id="collect">Welche Informationen sammeln wir?</h2>
<ul>
    <li><em>Grundlegende Kontoinformationen</em>: Wenn du dich auf diesem Server registrierst, wirst du darum gebeten,
        einen Benutzer_innen-Namen, eine E-Mail-Adresse und ein Passwort einzugeben. Du kannst auch zusätzliche
        Profilinformationen wie etwa einen Anzeigenamen oder eine Biografie eingeben und ein Profilbild oder ein
        Headerbild hochladen. Der Benutzer_innen-Name, der Anzeigename, die Biografie, das Profilbild und das Headerbild
        werden immer öffentlich angezeigt.</li>

    <li><em>Beiträge, Folge- und andere öffentliche Informationen</em>: Die Liste der Leute, denen du folgst, wird
        öffentlich gezeigt, das gleiche gilt für deine Folgenden (Follower). Sobald du eine Nachricht übermittelst, wird
        das Datum und die Uhrzeit gemeinsam mit der Information, welche Anwendung du dafür verwendet hast, gespeichert.
        Nachricht können Medienanhänge enthalten, etwa Bilder und Videos. Öffentliche und ungelistete Beiträge sind
        öffentlich verfügbar. Sobald du einen Beitrag auf deinem Profil featurest, sind dies auch öffentlich verfügbare
        Informationen. Deine Beiträge werden an deine Folgenden ausgeliefert, was in manchen Fällen bedeutet, dass sie
        an andere Server ausgeliefert werden und dort Kopien gespeichert werden. Sobald du Beiträge löschst, wird dies
        ebenso an deine Follower ausgeliefert. Die Handlungen des Teilens und Favorisieren eines anderen Beitrages ist
        immer öffentlich.</li>

    <li><em>Direkte und "Nur Folgende"-Beiträge</em>: Alle Beiträge werden auf dem Server gespeichert und verarbeitet.
        "Nur Folgende"-Beiträge werden an deine Folgenden und an Benutzer_innen, die du in ihnen erwähnst, ausgeliefert,
        direkte Beiträge nur an in ihnen erwähnte Benutzer_innen. In manchen Fällen bedeutet dass, dass sie an andere
        Server ausgeliefert werden und dort Kopien gespeichert werden. Wir bemühen uns nach bestem Wissen und Gewissen,
        den Zugriff auf diese Beiträge auf nur autorisierte Personen einzuschränken, jedoch könnten andere Server dabei
        scheitern. Deswegen ist es wichtig, die Server, zu denen deine Folgenden gehören, zu überprüfen. Du kannst eine
        Option in den Einstellungen umschalten, um neue Folgenden manuell anzunehmen oder abzuweisen. <em>Bitte beachte,
            dass die Betreiber des Server und jedes empfangenden Servers solche Nachrichten anschauen könnten</em> und
        dass Empfänger_innen von diesen eine Bildschirmkopie erstellen könnten, sie kopieren oder anderweitig
        weiterverteilen könnten. <em>Teile nicht irgendwelche gefährlichen Informationen über Mastodon.</em></li>

    <li><em>Internet Protocol-Adressen (IP-Adressen) und andere Metadaten</em>: Sobald du dich anmeldest, erfassen wir
        sowohl die IP-Adresse, von der aus du dich anmeldest, als auch den Namen deine Browseranwendung. Alle
        angemeldeten Sitzungen (Sessions) sind für deine Überprüfung und Widerruf in den Einstellungen verfügbar. Die
        letzte verwendete IP-Adresse wird bis zu 12 Monate lang gespeichert. Wir könnten auch Serverprotokoll behalten,
        welche die IP-Adresse von jeder Anfrage an unseren Server enthalten.</li>
</ul>

<hr class="spacer">

<h2 id="use">Für was verwenden wir deine Informationen?</h2>
<p>
    Jede der von dir gesammelten Information kann in den folgenden Weisen verwendet werden:
</p>
<ul>
    <li>Um die Kernfunktionalität von Mastodon bereitzustellen. Du kannst du mit dem Inhalt anderer Leute interagieren
        und deine eigenen Inhalte beitragen, wenn du angemeldet bist. Zum Beispiel kannst du anderen folgen, um deren
        kombinierten Beiträge in deine personalisierten Start-Timeline zu sehen.</li>

    <li>Um Moderation der Community zu ermöglichen, zum Beispiel beim Vergleichen deiner IP-Adresse mit anderen
        bekannten, um Verbotsumgehung oder andere Vergehen festzustellen.</li>

    <li>Die E-Mail-Adresse, die du bereitstellst, kann dazu verwendet werden, dir Informationen, Benachrichtigungen über
        andere Leute, die mit deinen Inhalten interagieren oder dir Nachrichten senden, und auf Anfragen, Wünsche
        und/oder Fragen zu antworten.</li>
</ul>

<hr class="spacer">

<h2 id="protect">Wie beschützen wir deine Informationen?</h2>
<p>
    Wir implementieren eine Reihe von Sicherheitsmaßnahmen, um die Sicherheit deiner persönlichen Information
    sicherzustellen, wenn du persönliche Informationen eingibst, übermittelst oder auf sie zugreifst. Neben anderen
    Dingen, wird sowohl deine Browsersitzung, als auch der Datenverkehr zwischen deinen Anwendungen und der
    Programmierschnittstelle (API) mit SSL gesichert, dein Passwort wird mit einem starken Einwegalgorithmus gehasht. Du
    kannst Zwei-Faktor-Authentifizierung aktivieren, um den Zugriff auf dein Konto zusätzlich abzusichern.
</p>

<p>
    Des Weiteren legen wir regelmäßige Backups aller Daten unserer Nutzer_innen an. Diese Backups werden bei dem
    Cloudstorageanbieter "Wasabi Technologies, Inc."<br />
    Um auch in diesen Backups die Privatsphäre unserer Nutzer_innen zu schützen, werden diese durch eine asymmetrische
    Verschlüsselung geschützt. Dementsprechend kann niemand Unbefugtes über die Backups an die privaten Daten unserer
    Nutzer_innen gelangen.
</p>

<hr class="spacer">

<h2 id="data-retention">Was ist unsere Datenspeicherungsrichtlinie?</h2>

<p>
    Wir werden mit bestem Wissen und Gewissen:
</p>
<ul>
    <li>Serverprotokolle, die IP-Adressen von allen deinen Anfragen an diesen Server, falls solche Protokolle behalten
        werden, für nicht mehr als 90 Tage behalten.</li>
    <li>registrierten Benutzer_innen zugeordnete IP-Adressen nicht länger als 12 Monate behalten.</li>
</ul>

<p>
    Du kannst ein Archiv deines Inhalts anfordern und herunterladen, inkludierend deiner Beiträge, Medienanhänge,
    Profilbilder und Headerbilder.
</p>

<p>
    Du kannst dein Konto jederzeit unwiderruflich löschen.
</p>

<hr class="spacer">

<h2 id="cookies">Verwenden wir Cookies?</h2>

<p>
    Ja. Cookies sind kleine Dateien, die eine Webseite oder ihr Serviceanbieter über deinen Webbrowser (sofern er es
    erlaubt) auf die Festplatte deines Computers überträgt. Diese Cookies ermöglichen es der Seite deinen Browser
    wiederzuerkennen und, sofern du ein registriertes Konto hast, diesen mit deinem registrierten Konto zu verknüpfen.
</p>

<p>
    Wir verwenden Cookies, um deine Einstellungen zu verstehen und für zukünftige Besuche zu speichern.
</p>

<hr class="spacer">

<h2 id="disclose">Offenbaren wir Informationen an Dritte?</h2>

<p>
    Wir verkaufen nicht, handeln nicht mit oder übertragen deine persönlich identifizierbaren Informationen nicht an
    Dritte. Dies beinhaltet nicht Dritte, die vertrauenswürdig sind und uns beim Betreiben unserer Seite oder dabei, die
    Dienste für dich bereitzustellen, unterstützen, sofern diese Dritte zustimmen, diese Informationen vertraulich zu
    halten. Wir können auch Informationen freigeben, wenn wir glauben, dass Freigabe angemessen ist, um dem Gesetz zu
    entsprechen, unsere Seitenrichtlinien durchzusetzen oder unsere Rechte, Eigentum und/oder Sicherheit oder die
    anderer zu beschützen.
</p>

<p>
    Unsere Backups werden bei dem Cloudstorageanbieter "Wasabi Technologies, Inc." gespeichert. Durch die asymmetrische
    Verschlüsselung ist es aber nicht möglich das Unbefugte an die privaten Daten unserer Nutzer_innen gelangen.
</p>

<p>
    Dein öffentlicher Inhalt kann durch andere Server im Netzwerk heruntergeladen werden. Deine öffentlichen und "Nur
    Folgende"-Beiträge werden an die Server ausgeliefert, bei denen sich deine Folgenden befinden und direkte
    Nachrichten werden an die Server des Empfängers ausgeliefert, falls diese Folgenden oder Empfänger sich auf einem
    anderen Server als diesen befinden.
</p>

<p>
    Wenn du eine Anwendung autorisierst, dein Konto zu benutzen, kann diese – abhängig von den von dir genehmigten
    Befugnissen – auf deine öffentlichen Profilinformationen, deine Folgt- und Folgende-Liste, deine Listen, alle deine
    Beiträge und deine Favoriten zugreifen. Anwendungen können nie auf deine E-Mail-Adresse oder dein Passwort zugreifen
</p>

<hr class="spacer">

<h3 id="children">Webseitenbenutzung durch Kinder</h3>

<p>
    Unsere Website, Produkte und Dienstleistungen sind alle an Leute gerichtet, die mindestens 16 Jahre als sind. Wenn
    du
    unter 16 bist, darfst du nach den Bestimmungen der DSGVO (<a
        href="https://de.wikipedia.org/wiki/Datenschutz-Grundverordnung">Datenschutz-Grundverordnung</a>) diese Webseite
    nicht benutzen.
</p>

<hr class="spacer">

<h2 id="changes">Änderung an unserer Datenschutzerklärung</h2>

<p>
    Wenn wir uns entscheiden, Änderungen an unserer Datenschutzerklärung vorzunehmen, werden wird diese Änderungen auf
    dieser Seite bekannt gegeben.
</p>

<p>
    Dies ist eine Übersetzung, Irrtümer und Übersetzungsfehler vorbehalten. Im Zweifelsfall gilt die englische
    Originalversion.
</p>

<p>
    Dieses Dokument ist CC-BY-SA. Es wurde zuletzt aktualisiert am 7. März 2018.
</p>

<p>
    Ursprünglich übernommen von der <a href="https://github.com/discourse/discourse">Discourse-Datenschutzerklärung</a>.
</p>

<ul>
    <li>2019-09-09 - Absatz zu Backups unter "Offenbaren wir Informationen an Dritte?" hinzgefügt</li>
    <li>2019-09-09 - Absatz zu Backups unter "Wie beschützen wir deine Informationen?" hinzgefügt</li>
</ul>

<h1>Impressum</h1>
<p>
    Die Deutsche Rechtsprechung - insbesondere §2 der Dienstleistungs-Informationspflichten-Verordnung (DL-InfoV) -
    verpflichtet uns dazu, persönliche Daten in Form eines Impressums zu veröffentlichen. <em>Wir bitten alle
        Nutzer_innen und Besucher_innen unserer Instanz, diese Informationen mit höchster Vertraulichkeit zu
        behandeln!</em>

</p>
<h2>Angaben gemäß §2 DL-InfoV</h2>
<p>
    ENTFERNT
</p>