<h1 id="rules">Regeln</h1>
Der Grundsatz unseres Netzwerkes besteht darin, dass wir einen freien und toleranten Ort für alle Menschen schaffen wollen. Da jede_r darunter etwas Anderes versteht, haben wir uns ein paar Regeln überlegt, um die Nutzung dieser Seite für alle so angenehm wie möglich zu machen:
<br /><br />
<h2>Verhalten</h2>
<ul>
<li>Rassismus wird nicht toleriert, ebenso wie Sexismus, Beschimpfungen, sowie Diskriminierung von Minderheiten jeglicher Art.</li>
<li>Extremismus jeglicher Art wird nicht toleriert.</li>
<li>Im Spezifischen tolerieren wir ebenso keine aggressiv-nationalistische Propaganda, keine Nazi-Symboliken und keine Befürwortung der Ideologie des Nationalsozialismus.</li>
<li>Verschwörungstheorien werden nicht toleriert</li>
<li>Doxxing, also das Veröffentlichen von persönlichen Daten Anderer, wird nicht toleriert.</li>
<li>Wir tolerieren keine Belästigung und kein Stalking. Nimm beispielsweise keinen Kontakt zu Menschen auf, die klar gemacht haben, dass sie nicht kontaktiert werden wollen.</li>
</ul><br />

<h2>Inhalte</h2>
<ul>
<li>Nicht jugendfreie Beiträge müssen als solche gekennzeichnet werden.</li>
<li>Profilbilder und Banner, die nicht jugendfrei sind, werden nicht toleriert.</li>
<li>Werbung muss als solche gekennzeichnet sein. Übermäßige oder automatisierte Werbung wird nicht toleriert.</li>
</ul><br />

<h2>Beiträge</h2>
<ul>
<li>Automatisierte Beiträge und Twitter-"retweets" sollten als ungelistet (sichtbar für jeden, jedoch unsichtbar in der lokalen Zeitleiste) gepostet werden. Die lokale Zeitleiste soll ein Ort für die Gemeinschaft und menschliche Interaktion sein. 
  Ausgenommen von dieser Regelung sind gemeinschaftlich betreute Accounts, sowie Crossposts anderer Netzwerke von lokalem Interesse.</li>
<li>Nutzer_innen mit (sehr) hohen Beitrags-Frequenzen sollten ihre Beiträge auf ungelistet stellen, um die lokale Zeitleiste nicht zu überschwemmen.</li>
<li>Accounts, welche größtenteils automatisiert mit Beiträgen versorgt werden und nicht regelmäßig von Menschen genutzt werden, müssen als Bot gekennzeichnet sein.</li>
<li>Bots dürfen nur mit Nutzer_innen interagieren, wenn diese dazu eingeladen wurden.</li>
</ul><br />

<h2>Anwendungsbereich</h2>
Unsere Regeln finden Anwendung auf alle von Nutzer_innen verbreiteten Inhalte, also neben selbst veröffentlichten Beiträgen auch auf "Retoots" und Direktnachrichten.
Außerdem gelten unsere Regeln auch für Nutzer_innen in unserer föderierten Zeitleiste sowie für föderierende Instanzen.

<hr />
<h1 id="more">Weitere Informationen</h1>

<h2>Instanzsperrungen</h2>

Auf Codeberg haben wir eine öffentliche Liste mit allen Sperrungen, die wir vorgenommen haben. Diese ist <a href="https://codeberg.org/t_aus_m/Mastodon-Infos/src/branch/master/Sperrungen.md">hier</a> zu finden.

<br />
<br />
<br />
Startseiten-Bild von <a rel="nofollow" class="external text" href="http://ottopix.de">Ottopix  - Medienportal der Ottostadt Magdeburg</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0" title="Creative Commons Attribution-Share Alike 4.0">CC BY-SA 4.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=72829436">Link</a>
